<% if @vk %>
	<% if @user[0].respond_to?(:first_name) && @user[0].respond_to?(:last_name) %>
		Добро пожаловать, <%= @user[0].first_name %> <%= @user[0].last_name %> <br>
	<% end %>

	<%= link_to 'Logout', logout_url %> <br><br>
	<%= button_to "Export", { action: "get_audio" }, remote: true, form: { "data-type" => "html" }, form_class: "export" %>

	<%= button_to "Save ALL", { action: "save_all" }, remote: true, form: { "data-type" => "json" }, form_class: "save_all" %>
	<div id="export"></div>

<% else %>
	<%= link_to 'Login to VK', login_url %>
<% end %>
